﻿
@{
    ViewBag.Title = "TestIframe";
    Layout = "~/Views/Shared/_PostLogin.cshtml";
}
    <!-- Ignite UI Required Combined CSS Files -->
<link href="http://cdn-na.infragistics.com/igniteui/2016.1/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link href="http://cdn-na.infragistics.com/igniteui/2016.1/latest/css/structure/infragistics.css" rel="stylesheet" />

<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

<!-- Ignite UI Required Combined JavaScript Files -->
<script src="http://cdn-na.infragistics.com/igniteui/2016.1/latest/js/infragistics.core.js"></script>
<script src="http://cdn-na.infragistics.com/igniteui/2016.1/latest/js/infragistics.lob.js"></script>
<script src="http://cdn-na.infragistics.com/igniteui/2016.1/latest/js/infragistics.dv.js"></script>
<style>
    #map {
        overflow: hidden;
    }
</style>

<div id="splitter">
    @*<div>*@
    <div id="detailSplitter">
        <div>
            <div id="map">
                <h1>111111</h1>
                @*<iframe style="height:95%;" id="map" src="http://www.w3schools.com"></iframe>*@

            </div>
        </div>
        <div>
            <div id="grid">
                <h1>222222</h1>
            </div>
            @*<iframe style="height:95%;width:100%" id="grid" src="http://www.sanook.com"></iframe>*@
        </div>
    </div>
    <div id="detailSplitter2">
        <div>
            <div id="map2">
                <h1>333333</h1>
            </div>
            @*<iframe style="height:95%;width:100%" id="map2" src="http://www.sanook.com/"></iframe>*@
        </div>
        <div>
            <div id="grid2">
                <h1>444444</h1>
            </div>
            @*<iframe style="height:95%;width:100%" id="grid2" src="http://sanook.com/"></iframe>*@
        </div>
    </div>
</div>

<script>
        $(function () {
            $("#splitter").igSplitter({
                height: 900,
                expanded: function (evt, ui) {
                    //$("#grid_headers").css("width", "100%");
                    //$("#grid").css("width", "100%");
                    //$("#grid2_headers").css("width", "100%");
                    //$("#grid2").css("width", "100%");
                },
                panels: [
                    //{ size: 900},
                    { collapsible: true }
                ]
            });
            $("#detailSplitter").igSplitter({
                orientation: "horizontal",
                panels: [
                    //{ size: 500, collapsible: true },
                    {collapsible: true }
                ]
            });
            $("#detailSplitter2").igSplitter({
                orientation: "horizontal",
                panels: [
                    //{ size: 500, collapsible: true },
                    {collapsible: true }
                ]
            });
        });
</script>