﻿
@{
    ViewBag.Title = "Cash Transactions";
    Layout = "~/Views/Shared/_PostLogin.cshtml";//Pre login
}
<link href="~/Content/css/datatable.css" rel="stylesheet" />
<script src="~/Content/js/moment.min.js"></script>
<style>
    .below_filter_section {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .dropdown_transaction_type {
        padding: 6px 12px;
        height: 34px;
        width: auto;
        font-size: 14px;
        border: 1px solid #0099FF;
        color: #555;
        background-color: #fff;
        border-radius: 4px;
    }
    #filterdate {
        width: auto !important;
    }
    .section_title {
       margin-bottom: 20px;
    }
    .serach_btn {
       margin-left : -67px;
   }
</style>
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1><span>Cash Transactions</span></h1>
            </div>
          
            <div class="col-md-12 text-center">
                <h2>Total Cash Holding: <span class="label label-success">@ViewBag.TotalCashHolder</span></h2>
            </div>
          

        </div>
        <div class="row">           
            <div class="col-md-5">
                <h2>Cash transaction stats latest 7 days :</h2>
                <table id="tblCaseTransaction" style="zoom:90%" class="dataTable compact display cell-border no-footer" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th class="">Date</th>
                            <th class="">Receive Count</th>
                            <th class="">Amount</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.TransactionData != null)
                        {
                            foreach (var item in ViewBag.TransactionData)
                            {
                                <tr>
                                    @*<td class=""><a href="/PickUp/GetCaseTransactionDetailsByDate?date=@item.Date.ToString("MM/dd/yyyy")">@item.Date.ToString("MM/dd/yyyy")</a></td>*@
                                    <td class="">@item.Date.ToString("MM/dd/yyyy")</td>
                                    <td class="">@item.ReceiveCount</td>
                                    <td class="">@item.Amount.ToString("N")</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
           
            <div class="col-md-7">
                <h2>Most recent transactions :</h2>
                <table id="tblCaseTransactionDetail" style="zoom:90%" class="dataTable compact display cell-border no-footer" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="">OrderId</th>
                            <th class="">UserName</th>
                            <th class="">TransactionType</th>
                            <th class="">Currency</th>
                            <th class="">Amount</th>
                            <th class="">Balance</th>
                            <th class="">CreatedDate</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.TransactionDetailData != null)
                        {
                            foreach (var item in ViewBag.TransactionDetailData)
                            {
                                <tr>
                                    <td class="">@item.OrderId</td>
                                    <td class="">@item.UserName</td>
                                    <td class="">@item.TransactionType</td>
                                    <td class="">@item.Currency</td>
                                    <td class="">@item.Amount.ToString("N")</td>
                                    <td class="">@item.Balance.ToString("N")</td>
                                    <td class="">@item.CreatedDate</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
           
        </div>
        <div class="row below_filter_section">
            <div class="col-md-12">
                <h2>Search Transaction :</h2>
                <div class="form-group">
                    <div class="col-md-2" style="padding-left:0px;"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i><input type="text" class="form-control" id="filterdate" name="Filterdate" placeholder="Filter By Date"></div></div>
                    <div class="col-md-1 search-or"><span>OR</span></div>
                    <div class="col-md-3" style="padding-left:0px;">
                       @Html.DropDownList("TransactionType", (IEnumerable<SelectListItem>)ViewBag.TransactionType, "Filter By TransactionType", new { @class = "dropdown_transaction_type" })
                        
                    </div>
                    <div class="col-md-3 serach_btn"><div class="inner-addon left-addon"><button type="submit" id="btnsearch" class="btn btn-warning">Search</button></div></div>
                </div>
            </div>
            <div class="col-md-12" id="divsearchResult">
                
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#filterdate').datepicker({
          format: "mm/dd/yyyy",
          todayHighlight: true,
          autoclose : true,
        });
        $('#tblCaseTransaction').DataTable({
            "oLanguage": {
                "sEmptyTable": "No Cash Transaction found in the system."
            }
        });

        $('#tblCaseTransactionDetail').DataTable({
            "oLanguage": {
                "sEmptyTable": "No Cash Transaction Details found in the system."
            }
        });

        $("#btnsearch").click(function () {
            $("#mergeloader").show();
            var filterdate = $("#filterdate").val();
            var filterType = $("#TransactionType").val();           
            if(filterdate == "" && filterType == "")
            {
                $("#growls").empty();
                $("#mergeloader").hide();
                $.growl.warning({ message: 'please select at least one filter for result' });
                return false;
            }
            else
            {
                $.ajax({
                    url: "/PickUp/GetFilterTransactionData",
                    type: "post",                 
                    contentType: 'application/json',
                    data: "{FilterDate:'" + filterdate + "',transactiontype:'" + filterType + "'}",
                    success: function (data) {
                        if (data.success) {
                            $("#mergeloader").hide();
                            $("#divsearchResult").empty();
                      var Html =
                            '<table id="tblCaseTransactionSearchDetail" style="zoom:90%" class="dataTable compact display cell-border no-footer" cellspacing="0" width="100%">' +
                      ' <thead> '+
                         ' <tr>' +
                              '<th class="">OrderId</th>'+
                              '<th class="">UserName</th>' +
                              '<th class="">TransactionType</th>' +
                              '<th class="">Currency</th>'+
                              '<th class="">Amount</th>' +
                              '<th class="">Balance</th>' +
                              '<th class="">CreatedDate</th>' +


                          '</tr>' +
                      '</thead>' +
                      '<tbody>';
                     
                      var bodypart = "";
                      for (var i=0;i<data.OutputTransactionDetails.length;i++)
                      {  
                          bodypart = bodypart +
                                     '<tr>' +
                                    '<td class="">' + data.OutputTransactionDetails[i]['OrderId'] + '</td>' +
                                    '<td class="">' + data.OutputTransactionDetails[i]['UserName'] + '</td>' +
                                    '<td class="">' + data.OutputTransactionDetails[i]['TransactionType'] + '</td>' +
                                    '<td class="">' + data.OutputTransactionDetails[i]['Currency'] + '</td>' +
                                    '<td class="">' + (data.OutputTransactionDetails[i]['Amount']).toFixed(2) + '</td>' +
                                    '<td class="">' + (data.OutputTransactionDetails[i]['Balance']).toFixed(2) + '</td>' +
                                    '<td class="">' + moment(data.OutputTransactionDetails[i]['CreatedDate']).format("MM/DD/YYYY h:mm A") + '</td>' +
                                '</tr>';
                      }
                     
                      var finalHTML = Html + bodypart + '  </tbody>    </table>'

                      $("#divsearchResult").append(finalHTML);
                      $('#tblCaseTransactionSearchDetail').DataTable({
                          "oLanguage": {
                              "sEmptyTable": "No Cash Transaction Details found in the system."
                          }
                      });
 
                        }
                        else  {
                            $("#mergeloader").hide();
                            $("#growls").empty();
                            $.growl.error({ message: 'An error occurred, Please try again.'});
                        }
                    }
                     
                });
            }
            
        });
      
    });
</script>
