﻿@using CallingChilindo.Models;
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@{
    Layout = "~/Views/Shared/_PostLogin.cshtml";//Pre login
}


<style>
    .label {
        font-size: 1.0em;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 15px;
    }
    .toggle.btn {
    zoom: 70%;
}#tblCallers thead th, #tblCallers thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #0099FF;
    color: #0099FF;
}
#tblCallers tbody td {
  padding: 8px 10px;color: #0099FF; 
}
#tblCallers.row-border tbody th, #tblCallers.row-border tbody td, #tblCallers.display tbody th, #tblCallers.display tbody td {
  border-top: 1px solid #C0E3F0;color: #0099FF
}
#tblCallers.stripe tbody tr.odd, #tblCallers.display tbody tr.odd {
  background-color: #E0F1FD;
}
#tblCallers.display tbody tr.even:hover {
  background-color: #E0F1FD;
}
#tblCallers.display tbody tr.odd > .sorting_1, #tblCallers.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #C0E3F0;
}
#tblCallers.order-column.hover tbody tr.even:hover > .sorting_1 {
  background-color: #C0E3F0;
}
#tblCallers.no-footer {
  border-bottom: 1px solid #0099FF;
}

</style>


<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<div class="section service">
    <div class="container">
        <div class="row">
            @{
                var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
                var manager = new UserManager<ApplicationUser>(userStore);
                var currentUser = manager.FindById(User.Identity.GetUserId());


                if (currentUser.isCaller)
                {
                    <style>
                        footer {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 100px;
                            width: 100%;
                            background-color: #58FAF4;
                        }
                    </style>
                    <div>
                        @*<div class="container">
                            <div class="row">
                                <div>*@
                                    <h1>Unauthorized access</h1>
                                    <h2>
                                    You are entering into a secured area! This service is restricted to admins only. If you are seeing this page mistakenly then please contact you system Admisiatrator. All activities on this system are logged.
                                    Unauthorized access will be fully investigated and reported to the appropriate law enforcement agencies.
                                    </h2>

                                @*</div>


                            </div>
                        </div>*@
                    </div>

                }
                else
                {
                    <div class="col-md-12">

                        <section id="loginForm">
                            <a href='@Url.Action("Register", "Account")' class="pull-right"><label class="label label-info">Create new User</label></a>
                            <h4 class="classic-title"><span>Callers</span></h4>
                            <div class="col-md-12">
                                <table id="tblCallers" class="display" cellspacing="0" width="100%">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Caller</th>
                                            <th>Status</th>
                                            <th>Last Login</th>
                                            <th>User Type</th>
                                            <th>Call Newest</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                    int nCount = 0;
                    foreach (var item in Model)
                    {
                        nCount++;
                        <tr style="position:static">
                            <th>@nCount</th>
                            <th>@item.UserName</th>
                            <td>
                                @if (item.isActive)
                                {
                                    <div data-toggle="tooltip" title="This shows the current status of this user as active or inactive. Set the status to 'Active' if this user is active or 'Inactive' other wise ."><input type="checkbox" checked="checked" class="activeCheckbox" id="@item.sIdGuid" onchange="SetActive('@item.sIdGuid');" /></div>
                                }
                                else
                                {
                                    <div data-toggle="tooltip" title="This shows the current status of this user as active or inactive. Set the status to 'Active' if this user is active or 'Inactive' other wise .">
                                        <input type="checkbox" class="activeCheckbox" id="@item.sIdGuid" onchange="SetActive('@item.sIdGuid');" />
                                    </div>
                                }
                            </td>
                            @if (item.dtSignintime != null)
                            {
                                <td>
                                    @item.dtSignintime
                                </td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            <td>
                                <div data-toggle="tooltip" title="This shows the current role of a user as caller or admin. Click to change the role of this user.">
                                    @if (item.isCaller)
                                    {
                                        <input type="checkbox" class="adminCheckbox" id="@item.sIdGuid" onchange="SetAdmin('@item.sIdGuid');"> }
                                    else
                                    {<input type="checkbox" checked="checked" class="adminCheckbox" id="@item.sIdGuid" onchange="SetAdmin('@item.sIdGuid');"> }
                                </div>
                            </td>
                                        <td>
                                            <div>
                                                @if (item.CallNewest)
                                                {
                                                    <input type="checkbox" checked="checked" class="callnewescheckbox" id="@item.sIdGuid" onchange="SetCallNewest('@item.sIdGuid');">
                                                }
                                                else
                                                { <input type="checkbox"  class="callnewescheckbox" id="@item.sIdGuid" onchange="SetCallNewest('@item.sIdGuid');">}
                                            </div>
                                                 </td>
                        </tr>
                    }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div id="sessionTimeoutWarning" style="display: none"></div>
<script>
    $('#tblCallers').dataTable({
        "pageLength": 50,
        "oLanguage": {
            "sEmptyTable": "No callers yet"
        }
    });
    function SetActive(obj) {
        $.ajax({
            url: "/Caller/SetActive",
            type: "post",
            data: { ID: obj },
            success: function (data) {
                if (data.MsgCode == 1) {
                    $.growl.notice({ message: 'Caller Status updated successfully.' });
                }
                else {
                    $.growl.error({ message: 'An error occurred, Please try again.' });
                }
            }
        });
    } function SetAdmin(obj) {
        $.ajax({
            url: "/Caller/SetAdmin",
            type: "POST",
            data: { ID: obj },
            success: function (data) {
                if (data.MsgCode == 1) {
                    $.growl.notice({ message: 'Caller Type updated successfully.' });
                }
                else {
                    $.growl.error({ message: 'An error occurred, Please try again.' });
                }
            }
        });
    }
        function SetCallNewest(obj) {
            $.ajax({
                url: "/Caller/SetCallNewest",
                type: "POST",
                data: { ID: obj },
                success: function (data) {
                    if (data.MsgCode == 1) {
                        $.growl.notice({ message: 'Call Newest Order updated successfully.' });
                    }
                    else {
                        $.growl.error({ message: 'An error occurred, Please try again.' });
                    }
                }
            });
    }

</script>