﻿@using CallingChilindo.Models;
@model LoginViewModel
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="content-section" id="our-team">
    <div class="container">
        <div class="row" style="background-image:url('../../images/signinbg.jpg');background-repeat:no-repeat;background-position:center;margin-left: 0px; margin-right: 0px;">
            <div class="col-md-4"></div>
            <div class="col-md-4"><center><img src="~/images/logo.png" /></center></div>
            <div class="col-md-4"></div>
            <div class="heading-section col-md-12 text-center">
                <h2 class="color-white">Sign in to your account</h2>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label text-white" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label text-white" })
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox color-white">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default">Log In</button>
                                @Html.ActionLink("Reset", "Login", "Account", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9 color-white">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9 color-white">
                                Don't have an account? @Html.ActionLink("Sign up now", "Register", "Account")
                            </div>
                        </div>

                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>