﻿@model IEnumerable<MaccadkProj.tblOrders>
@using CallingChilindo.Controllers
@{
    ViewBag.Title = "Search Page";

    Layout = "~/Views/Shared/_PostLogin.cshtml";//Post login
}

<script src="~/Content/js/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="~/Content/js/jquery.idletimer.js"></script>


<style type="text/css">
    #example1_length {
        display: none;
    }

    table.dataTable.no-footer {
        font-size: 1.3em;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 10px;
        border-bottom: 0px solid #111111;
    }

    .borderlessClass {
        border: 0px;
    }

    #pnlOrderInfo .panel-heading {
        padding: 10px;
    }

    #pnlOrderInfo .panel-body, #pnlCallingLog .panel-body {
        padding: 0px;
    }

    #pnlOrderInfo table.dataTable.no-footer, #pnlCallingLog table.dataTable.no-footer {
        border-bottom: 0px;
    }

    #pnlCallingLog #example1_paginate {
        margin-bottom: 20px;
    }

    #pnlOrder .panel-heading {
        padding: 10px;
    }

    #pnlOrderLine .panel-heading {
        padding: 10px;
    }

    label {
        font-size: 1.0em;
        color: #000;
        font-weight: 300;
        cursor: pointer;
    }

    .ui-dialog-titlebar {
        background-color: #0099FF;
        background-image: none;
        color: #fff;
    }

    .ui-widget-content {
        border: 1px solid #0099FF;
    }

    .ui-widget-header {
        border: 1px solid #0099FF;
    }
</style>
<style>
    .radio {
        position: relative;
        float: none;
        display: block;
        padding-left: 40px;
        margin-bottom: 10px;
        line-height: 22px;
        font-size: 18px;
        color: #666;
        cursor: pointer;
    }

        .radio:before {
            background: #fff;
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            width: 22px;
            height: 21px;
            border: 1px solid #bbb;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            box-shadow: inset 0 0 3px 0 #ccc;
            -moz-box-shadow: inset 0 0 3px 0 #ccc;
            -webkit-box-shadow: inset 0 0 3px 0 #ccc;
        }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"]:checked + label:before {
            content: "\2022";
            text-align: center;
            line-height: 14px;
            font-family: Tahoma;
            font-size: 39px;
            color: #00a0db;
            text-shadow: 0 0 4px #bbb;
        }

    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }

    .marginLeft10px {
        margin-left: 10px !important;
    }
</style>
<script src="~/Content/asset/js/datepicker.js"></script>
<script type="text/javascript">
    var idleTime = @ViewBag.miliSecToLogout; // number of miliseconds until the user is considered idle

    var initialSessionTimeoutMessage = 'Your session will expire in <span id="sessionTimeoutCountdown"></span>&nbsp;seconds.<br/><br />Click on <b>OK</b> to continue your session.';
    var sessionTimeoutCountdownId = 'sessionTimeoutCountdown';
    var redirectAfter = 10; // number of seconds to wait before redirecting the user
    var redirectTo = '/Home/LogoutRedirect/?id='+ @(ViewBag.OrderID!=null?ViewBag.OrderID:0) ; // URL to relocate the user to once they have timed out
    var keepAliveURL = window.location.href; // URL to call to keep the session alive
    var expiredMessage = 'Your session has expired.  You are being logged out for security reasons.'; // message to show user when the countdown reaches 0
    var running = false; // var to check if the countdown is running
    var timer; // reference to the setInterval timer so it can be stopped
    $(document).ready(function () {

        /*For count orders*/

        var accountid = '@ViewBag.accountid';
        debugger;

        $.ajax({
            url: "/Home/GetTotalOrderCount",
            type: "post",
            dataType: 'json',
            data: 'accountid='+accountid,
            success: function (data) {
                if (data.MsgCode == 1) {
                    $("#all_oders_total").text(data.OrdersTotal);
                    $("#all_oders_cancelled").text(data.OrdersTotalCancelled);
                    $("#all_oders_paid").text(data.OrdersTotalPaid);
                    $("#all_oders_unpaid").text(data.OrdersTotalUnPaid);
                }
                else {
                    $.growl.error({ message: 'An error occurred, Please try again.' });
                }
            }
        });


        $('[data-toggle="tooltip"]').tooltip();
        // create the warning window and set autoOpen to false
        var sessionTimeoutWarningDialog = $("#sessionTimeoutWarning");
        $(sessionTimeoutWarningDialog).html(initialSessionTimeoutMessage);
        $(sessionTimeoutWarningDialog).dialog({
            title: 'Session Expiration Warning',
            autoOpen: false,	// set this to false so we can manually open it
            closeOnEscape: false,
            draggable: false,
            width: 460,
            minHeight: 50,
            modal: true,
            beforeClose: function () {
                clearInterval(timer);
                running = false;
                $.ajax({
                    url: keepAliveURL,
                    async: false
                });
            },
            buttons: {
                OK: function () {
                    idleTime = @ViewBag.miliSecToLogout;
                    $(this).dialog('close');
                }
            },
            resizable: false,
            open: function () {
                $('body').css('overflow', 'hidden');
            },
            close: function () {
                $('body').css('overflow', 'auto');
            }
        });

        $.idleTimer(idleTime);

        $(document).bind("idle.idleTimer", function () {
            if ($.data(document, 'idleTimer') === 'idle' && !running) {
                var counter = redirectAfter;
                running = true;

                $('#' + sessionTimeoutCountdownId).html(redirectAfter);
                $(sessionTimeoutWarningDialog).dialog('open');

                timer = setInterval(function () {
                    counter -= 1;
                    if (counter === 0) {
                        $(sessionTimeoutWarningDialog).html(expiredMessage);
                        $(sessionTimeoutWarningDialog).dialog('disable');
                        window.location = redirectTo;
                    } else {
                        $('#' + sessionTimeoutCountdownId).html(counter);
                    };
                }, 1000);
            };
        });

    });
</script>
<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @if (Model != null && Model.Count() > 0)
                {

                    foreach (var item in Model)
                    {

                        if (Request.QueryString["callType"] != null)
                        {
                            if (Request.QueryString["callType"] == "1")
                            {
                                <div class="alert alert-success" role="alert"><h4 class="classic-title"><span>Calling Unpaid Orders</span></h4></div>
                            }
                            else if (Request.QueryString["callType"] == "2")
                            {
                                <div class="alert alert-danger" role="alert">
                                    <h4 class="classic-title"><span>Calling Undelivered CODs Orders</span></h4><br />
                                    @*<span style="font-size: 18px;"><b>CarrierRemark: </b>@item.aCommerreMark</span>*@
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    <h4 class="classic-title"><span>Calling Suspicious CODs Orders </span></h4><br />
                                    @*<span style="font-size: 18px;"><b>CarrierRemark: </b>@item.aCommerreMark</span>*@
                                </div>
                            }
                        }

                        <div class="row">
                            <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="form-group">
                                            <div class="divCalling">
                                                <div class="row">
                                                    <div class="col-md-4"><h4> Call Number:</h4></div>
                                                    <div class="col-md-8">
                                                        <h1 style="font-size:4.0em" class="text-success">
                                                            @{
                                                                string phone = item.phone;
                                                                try
                                                                {
                                                                    phone = System.Text.RegularExpressions.Regex.Replace(phone, @"\D+", string.Empty);
                                                                    if (phone.Length == 9)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8]);
                                                                    }
                                                                    else if (phone.Length == 10)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}{9}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8], phone[9]);
                                                                    }
                                                                    else if (phone.Length == 11)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}{9}{10}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8], phone[9]
                                                                  , phone[10]);
                                                                    }
                                                                    else if (phone.Length == 12)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}{9}{10}{11}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8], phone[9]
                                                                  , phone[10], phone[11]);
                                                                    }
                                                                    else if (phone.Length == 13)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}{9}{10}{11}{12}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8], phone[9]
                                                                  , phone[10], phone[11], phone[12]);
                                                                    }
                                                                    else if (phone.Length == 14)
                                                                    {
                                                                        phone = @String.Format("{0}{1}-{2}{3}{4}-{5}{6}{7}-{8}{9}{10}{11}{12}{13}", phone[0],
                                                                  phone[1], phone[2], phone[3], phone[4], phone[5], phone[6], phone[7], phone[8], phone[9]
                                                                  , phone[10], phone[11], phone[12], phone[13]);
                                                                    }
                                                                    else
                                                                    {
                                                                    }
                                                                }
                                                                catch (Exception)
                                                                {
                                                                }
                                                                @phone
                                                            }
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="myDiv">
                                            <form class="form-horizontal" role="form" id="frmUpdateLog">
                                                @if (ViewBag.LogEvents != null)
                                                {
                                                    foreach (var itemLE in @ViewBag.LogEvents)
                                                    {
                                                        <div class="form-group marginLeft10px">
                                                            <input type="radio" name="optradio" id='rdo_@itemLE.ID' style="margin-right:10px" onchange="setDateBox('@itemLE.ID')">
                                                            <label for='rdo_@itemLE.ID' class="radio">@itemLE.type</label>
                                                        </div>



                                                    }
                                                }
                                                <div class="form-group">
                                                    <label id="lblamountPaid" style="display:none">Amount Paid: </label> <input type="text" class="form-control" name="amountPaid" id="txtamountpaid" style="display:none" />
                                                </div>
                                                <div class="form-group">
                                                    <label id="lblcomments" style="display:none">Comments: </label><textarea class="form-control" name="comments" id="txtcomments" style="display:none"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6 text-left">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control date" name="dtDate" id="dtDate" data-toggle="tooltip" title="Click to select date." placeholder="" aria-describedby="basic-addon2">
                                                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
         
                                                 
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-success" onclick="return Validate('1')">Save and Call next customer</button>
                                                        <button class="btn btn-warning" onclick="return Validate('2')">Save and Cancel</button>
                                                        <a href="/Home/Cancel?id=@ViewBag.OrderID" class="btn btn-danger">Cancel</a>
                                                        <input type="hidden" name="submitType" id="submitType" />
                                                        <input type="hidden" name="id" id="id" value="@item.id" />
                                                        @{
                                                            string logType = "1";
                                                            if (Request.QueryString["callType"] != null)
                                                            {
                                                                if (Request.QueryString["callType"] == "1")
                                                                {
                                                                    logType = "1";
                                                                }
                                                                else if (Request.QueryString["callType"] == "2")
                                                                {
                                                                    logType = "2";
                                                                }
                                                                else
                                                                {
                                                                    logType = "4";
                                                                }
                                                            }
                                                        }
                                                        <input type="hidden" name="logType" id="logType" value="@logType" />
                                                        <input type="hidden" name="optradioTODO" id="optradioTODO" />
                                                        <input type="hidden" name="optSearchOrder" value="1" id="optSearchOrder" />
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="02">

                                <div class="panel panel-info" id="pnlOrderInfo">
                                    <div class="panel-heading">
                                        <h3 class="text-primary text-left">
                                            Order Number: @item.id
                                        </h3>
                                    </div>
                                    <div class="panel-body">
                                        <table id="example" class="display" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>

                                                    <th class="hidden"><label class="label label-primary" id="lblOrderId"><big>Order Number</big></label></th>
                                                    <th class="hidden"><label class="label label-primary" id="lblOrderId"><big>@item.id</big></label></th>
                                                    <th class="hidden"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td><span class="label label-info"><big>@item.name</big></span></td>
                                                    <td class="hidden">1</td>
                                                </tr>
                                                <tr>
                                                    <td class="hidden">2</td>
                                                    <td>Username:</td>
                                                    <td>@item.username</td>

                                                </tr>
                                                <tr>

                                                    <td>Email:</td>
                                                    <td>
                                                        <span class="label label-info"><a href="mailto:@item.email">@item.email</a></span>
                                                    </td>
                                                    <td class="hidden">3</td>
                                                </tr>
                                                <tr>

                                                    <td>Time Since Checkedout:</td>
                                                    <td>
                                                        @{
                                                            TimeSpan span = DateTime.Now.Subtract(item.created);
                                                        }
                                                        @span.Days day(s), @span.Hours hour(s), @span.Minutes min(s), @span.Seconds sec(s) <br /><i class="text-muted"><small>@item.created</small></i>
                                                    </td>
                                                    <td class="hidden">4</td>
                                                </tr>

                                                <tr>

                                                    <td>Payment Type:</td>
                                                    <td>@item.deliveryoptionident</td>
                                                    <td class="hidden">5</td>
                                                </tr>

                                                <tr>

                                                    <td>Delivery Type:</td>
                                                    <td>@item.deliverytypeident</td>
                                                    <td class="hidden">6</td>
                                                </tr>

                                                <tr>

                                                    <td>Alltime Orders Total: <span id="all_oders_total"></span></td>
                                                    <td>Alltime Orders Total Cancelled: <span id="all_oders_cancelled"></span></td>
                                                    <td class="hidden">7</td>
                                                </tr>

                                                <tr>

                                                    <td>Alltime Orders Total Paid: <span id="all_oders_paid"></span></td>
                                                    <td>Alltime Orders Total Unpaid: <span id="all_oders_unpaid"></span></td>
                                                    <td class="hidden">8</td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="panel panel-warning" id="pnlCallingLog">

                                    <div class="panel-body">
                                        <table id="example1" class="display" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="hidden">#</th>
                                                    <th class="label-warning">Log Date</th>
                                                    <th class="label-warning">Log Event</th>
                                                    <th class="label-warning">Order Date</th>
                                                    <th class="label-warning">Caller</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.CallingLogs != null)
                                                {
                                                    foreach (var cLog in ViewBag.CallingLogs)
                                                    {
                                                        <tr>
                                                            <td class="hidden">1</td>
                                                            <td><i class="text-muted"><small>@cLog.logDate</small></i></td>
                                                            <td>@cLog.Event</td>
                                                            <td><i class="text-muted"><small>@cLog.orderCreated</small></i></td>
                                                            <td><span class="label label-warning">@cLog.Caller</span></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="panel panel-danger" id="pnlOrder" style="display:none;">
                            <div class="panel-heading">
                                <h3 class="text-danger">Update Delivery address for order: @item.id</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" class="form-horizontal" id="frmupdatedeliverydata">
                                    <input type="hidden" name="id" id="id" value="@item.id" />
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div data-toggle="tooltip" title="Enter the name of receiver." class="col-sm-12"><label>Name</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlOrderName" name="pnlOrderName" value="@item.name" /></div>
                                            </div>
                                            <div class="form-group">
                                                <div data-toggle="tooltip" title="Enter the lastname of receiver." class="col-sm-12"><label>Lastname</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlLastName" name="pnlLastName" value="@item.lastname" /></div>
                                            </div>

                                            <div class="form-group"><div class="col-sm-12"><label>Address</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlOrderStreet" name="pnlOrderStreet" value="@item.address" /></div></div>

                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group"><div class="col-sm-12"><label>Sub District</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlSubDistrict" name="pnlSubDistrict" value="@item.districtsub" /></div></div>
                                            <div class="form-group"><div class="col-sm-12"><label>District</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlDistrict" name="pnlDistrict" value="@item.district" /></div></div>
                                            <div class="form-group"><div class="col-sm-12"><label>Province</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlProvince" name="pnlProvince" value="@item.province" /></div></div>

                                        </div>
                                        <div class="col-sm-3">

                                            <div class="form-group"><div class="col-sm-12"><label>PostCode</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlPostCode" name="pnlPostCode" value="@item.zip" /></div></div>
                                            <div class="form-group"><div class="col-sm-12"><label>Phone</label><input data-toggle="tooltip" title="" type="text" class="form-control" id="pnlPhone" name="pnlPhone" value="@item.phone" /></div></div>
                                            <div class="form-group">
                                                <div class="col-sm-12"><label>Comment</label><textarea data-toggle="tooltip" title="" class="form-control" id="pnlComment" name="pnlComment" value="@item.comment"></textarea></div>
                                            </div>
                                        </div>
                                        @{

                                            string callType = "1";
                                            if (Request.QueryString["callType"] != null)
                                            {
                                                if (Request.QueryString["callType"] == "1")
                                                {
                                                    callType = "1";
                                                }
                                                if (Request.QueryString["callType"] == "2")
                                                {
                                                    callType = "2";
                                                }
                                                else
                                                {
                                                    callType = "4";
                                                }
                                            }
                                        }
                                        @if (callType == "1" || callType == "4")
                                        {
                                            <div class="col-sm-3">
                                                <div class="form-group"><div class="col-sm-12"><button class="btn btn-danger" onclick="return ValidateOrder()">Update Delivery Data</button></div></div>

                                            </div>
                                        }

                                    </div>
                                </form>
                            </div>
                        </div>
                                            ////////////////Order Update
                                            var addressParameter = ViewBag.addressList;
                                            if (addressParameter != null)
                                            {

                                                <div class="panel panel-danger" id="pnlOrder">
                                                    <div class="panel-heading">
                                                        <h3 class="text-danger">Update Delivery address for order: @item.id</h3>
                                                    </div>
                                                    @if (addressParameter[0].isValid == true)
                                                    {
                                                        <div class="panel-body">
                                                            <form role="form" class="form-horizontal" id="frmupdatedeliverydata">

                                                                @{
                                                                    string validclass = "";
                                                                    string readOnly = "";
                                                                    int parametersCount = 0;

                                                                    var list = addressParameter[0].addressControl;
                                                                    string dataItem = "";
                                                                    <input type="hidden" id="hdnOrderId" name="hdnOrderId" value="@item.id" />
                                                                    <input type="hidden" id="hdnOrderGuid" name="hdnOrderGuid" value="@item.orderguid" />
                                                                    <input type="hidden" id="hdnAccount" name="hdnAccount" value="@item.accountid" />
                                                                    foreach (var addressParameter1 in list)
                                                                    {
                                                                        readOnly = addressParameter1.isReadOnly == true ? "readonly" : "";
                                                                        validclass = addressParameter1.isRequired == true ? "validclass" : "";
                                                                        bool mainDiv = false;
                                                                        mainDiv = parametersCount == 0 ? true : (parametersCount % 3) == 0 ? true : false;
                                                                        if (mainDiv)
                                                                        {
                                                                            @:<div class="row">
                                                 }

                                                                        if (addressParameter1.fieldType == "TextBox")
                                                                        {
                                                                            <div class="col-sm-4">
                                                                                <div class="form-group">
                                                                                    <div class="col-sm-12"><label>@addressParameter1.fieldDisplayName</label><input type="text" class="form-control @validclass" id="@addressParameter1.fieldIdentity" name="@addressParameter1.fieldIdentity" value="@addressParameter1.fieldValue" @readOnly /></div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        if (addressParameter1.fieldType == "DropDown")
                                                                        {
                                                                            if (addressParameter1.fieldIdentity == "postcode")
                                                                            {
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <div title="Enter @addressParameter1.fieldDisplayName" class="col-sm-12">
                                                                                            <label>@addressParameter1.fieldDisplayName</label>
                                                                                            <select class="form-control ddlPostcode cbo" id="@addressParameter1.fieldIdentity" onchange="LoadProvinceAPI()" name="@addressParameter1.fieldIdentity">
                                                                                                @if (ViewBag.postcodeList != null)
                                                                                                {
                                                                                                    foreach (var itemPC in @ViewBag.postcodeList)
                                                                                                    {
                                                                                                        if (itemPC.value == addressParameter1.fieldValue)
                                                                                                        {
                                                                                                            <option value="@itemPC.value" selected="selected">@itemPC.value</option>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <option value="@itemPC.value">@itemPC.value</option>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

                                                                            else if (addressParameter1.fieldIdentity == "province")
                                                                            {
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <div title="Enter @addressParameter1.fieldDisplayName" class="col-sm-12">
                                                                                            <label>@addressParameter1.fieldDisplayName</label>
                                                                                            <select class="form-control ddlProvince cbo" id="@addressParameter1.fieldIdentity" name="@addressParameter1.fieldIdentity">
                                                                                                @if (ViewBag.provinceList != null)
                                                                                                {
                                                                                                    foreach (var itemPC in @ViewBag.provinceList)
                                                                                                    {
                                                                                                        if (itemPC.value == addressParameter1.fieldValue)
                                                                                                        {
                                                                                                            <option value="@itemPC.value" selected="selected">@itemPC.value</option>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <option value="@itemPC.value">@itemPC.value</option>
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }

                                                                            else
                                                                            {
                                                                                <div class="col-sm-4">
                                                                                    <div class="form-group">
                                                                                        <div title="Enter @addressParameter1.fieldDisplayName" class="col-sm-12">
                                                                                            <label>@addressParameter1.fieldDisplayName</label>
                                                                                            <select class="form-control cbo" id="@addressParameter1.fieldIdentity" name="@addressParameter1.fieldIdentity">
                                                                                                @if (ViewBag.LogEvents != null)
                                                                                                {
                                                                                                    <option value="@addressParameter1.fieldValue">@addressParameter1.fieldValue</option>
                                                                                                    foreach (var itemLE in @ViewBag.LogEvents)
                                                                                                    {
                                                                                                        <option value="@itemLE.ID">@itemLE.type</option>
                                                                                                    }
                                                                                                }
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        }
                                                                        parametersCount++;

                                                                        if (parametersCount != 0 && (parametersCount % 3 == 0))
                                                                        {
                                                                            @:</div>
                                                                           }

                                                                    }


                                                                    //string callType = "1";
                                                                    if (Request.QueryString["callType"] != null)
                                                                    {
                                                                        if (Request.QueryString["callType"] == "1")
                                                                        {
                                                                            callType = "1";
                                                                        }
                                                                        if (Request.QueryString["callType"] == "2")
                                                                        {
                                                                            callType = "2";
                                                                        }
                                                                        else
                                                                        {
                                                                            callType = "4";
                                                                        }
                                                                    }

                                                                    if (callType == "1" || callType == "4")
                                                                    {
                                                                        string s = dataItem;
                                                                        <div class="col-sm-3">
                                                                            <div class="form-group"><div class="col-sm-12"> <br /><button class="btn btn-danger" @dataItem onclick="return ValidateOrder(this)">Update Delivery Data</button></div></div>
                                                                        </div>
                                                                    }
                                                                }

                                                            </form>
                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="panel-body">
                                                                            <h1>Order is not valid.</h1>
                                                                        </div>
                                                                    }

                                                </div>
                                                                    }


                                                                    <div class="panel panel-info" id="pnlOrderLine">
                                                                        <div class="panel-heading">
                                                                            <h3 class="text-info">Orderline for order no: @item.id | <a class="text-info" target="_blank" href="http://www.chilindo.com/invoice.aspx?orderguid=@item.orderguid"><i class="fa fa-external-link" data-unicode="f08e"></i> Invoice Link</a></h3>
                                                                        </div>
                                                                        <form class="panel-body">
                                                                            @if (ViewBag.BasketData != null)
                                                                            {
                                                                                <div class="clearfix"></div><hr />
                                                                                <div class="row">
                                                                                    <div class="form-group">
                                                                                        <div class="col-sm-2"><b>Item Number</b></div>
                                                                                        <div class="col-sm-2"><b>Date Created</b></div>
                                                                                        <div class="col-sm-2"><b>Antal</b></div>
                                                                                        <div class="col-sm-2"><b>basValuta</b></div>
                                                                                        <div class="col-sm-2"><b>basValuta Price</b></div>
                                                                                        <div class="col-sm-2"><b>basValuta Total Price</b></div>
                                                                                    </div>
                                                                                </div><div class="clearfix"></div>
                                                                                <hr />
                                                                                foreach (var basketItem in ViewBag.BasketData)
                                                                                {

                                                                                    <div class="row">
                                                                                        <div class="form-group">
                                                                                            <div class="col-sm-2">@basketItem.itemnumber</div>
                                                                                            <div class="col-sm-2">@basketItem.created</div>
                                                                                            <div class="col-sm-2">@basketItem.antal</div>
                                                                                            <div class="col-sm-2">@basketItem.basValuta</div>
                                                                                            <div class="col-sm-2">@basketItem.basValutaPrice</div>
                                                                                            <div class="col-sm-2">@basketItem.basValutaPriceTotal</div>
                                                                                        </div>
                                                                                    </div><div class="clearfix"></div>
                                                                                    <hr />
                                                                                }
                                                                            }
                                                                        </form>

                                                                    </div>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <style>
                                                                            footer {
                                                                                background-color: #58FAF4;
                                                                                position: absolute;
                                                                                left: 0;
                                                                                bottom: 0;
                                                                                height: 100px;
                                                                                width: 100%;
                                                                            }
                                                                        </style>
                                                                    }
                <div id="sessionTimeoutWarning" style="display: none"></div>
            </div>
        </div>
    </div>
</div>
@{
    int nCallType = 1;
    if (Request.QueryString["callType"] != null)
    {
        if (Request.QueryString["callType"] == "1")
        {
            nCallType = 1;
        }
        else if (Request.QueryString["callType"] == "2")
        {
            nCallType = 2;
        }
        else if (Request.QueryString["callType"] == "4")
        {
            nCallType = 4;
        }
    }
    if (ViewBag.calltype != null)
    {
        if (ViewBag.calltype == 1)
        {
            nCallType = 1;
        }
        else if (ViewBag.calltype == 2)
        {
            nCallType = 2;
        }
        else if (ViewBag.calltype == 4)
        {
            nCallType = 4;
        }
    }
}
@if (nCallType == 1 || nCallType == 4)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date').datepicker();//{ format: "dd/mm/yyyy" }
            GetOrderCount(); //get order count for paid and unpaid
        });

        function GetOrderCount()
        {
            var accountid = '@ViewBag.accountid';
            $.ajax({
                url: "/Home/GetTotalOrderCount",
                type: "post",
                dataType: 'json',
                data: 'accountid='+accountid,
                success: function (data) {
                    if (data.MsgCode == 1) {
                        $("#all_oders_total").text(data.OrdersTotal);
                        $("#all_oders_cancelled").text(data.OrdersTotalCancelled);
                        $("#all_oders_paid").text(data.OrdersTotalPaid);
                        $("#all_oders_unpaid").text(data.OrdersTotalUnPaid);
                    }
                    else {
                        $.growl.error({ message: 'An error occurred, Please try again.' });
                    }
                }
            });
        }

        function setDateBox(obj) {
            if(obj == '6')
            {
                $('#lblamountPaid').show();
                $('#lblcomments').show();
                $('#txtamountpaid').show();
                $('#txtcomments').show();
            }
            else
            {
                $('#lblamountPaid').hide();
                $('#lblcomments').hide();
                $('#txtamountpaid').hide();
                $('#txtcomments').hide();
            }
            if (obj == '2' || obj == '6') {


                $('#dtDate').removeAttr('disabled');
                if (obj == 2) {
                    $('#dtDate').attr("placeholder", "When will the customer pay?: ").placeholder();
                    $('input[placeholder]').placeholder();
                    $('#lblText').removeClass('label-danger').removeClass('label-warning');
                    $('#lblText').addClass('label-danger');
                }

                else {

                    $('#dtDate').attr("placeholder", "When was order paid?:").placeholder();
                    $('input[placeholder]').placeholder();
                    $('#lblText').removeClass('label-danger').removeClass('label-warning');
                    $('#lblText').addClass('label-warning');
                }
            } else {

                $('#dtDate').attr('disabled', 'disabled');
                $('#lblText').removeClass('label-danger').removeClass('label-warning');
                $('#lblText').addClass('label-default');
            }
        }
        function Validate(obj) {
            debugger;
            var nonSelected = false;
            var twoSelectedwithoutDate = false;
            var sixSelectedwithoutDate = false;
            var sixSelectedwithoutAmount = false;
            var sixSelectedwithoutComment = false;
            $("input:radio").each(function () {
                var name = $(this).attr("name");
                if ($("input:radio[name=" + name + "]:checked").length == 0) {
                    nonSelected = true;
                }
                else {
                    if ($('#rdo_2').is(':checked')) {
                        if ($('#dtDate').val() == "" || $('#dtDate').val() == null) {
                            twoSelectedwithoutDate = true;
                        }
                    }
                    else
                        if ($('#rdo_6').is(':checked')) {
                            if ($('#dtDate').val() == "" || $('#dtDate').val() == null) {
                                sixSelectedwithoutDate = true;
                            }
                            if ($('#txtamountpaid').val() == "" || $('#txtamountpaid').val() == null) {
                                sixSelectedwithoutAmount = true;
                            }
                            if ($('#txtcomments').val() == "" || $('#txtcomments').val() == null) {
                                sixSelectedwithoutComment = true;
                            }
                        }
                }
            });
            if (nonSelected) {
                $.growl.error({ message: 'Please select an option to proceed.' }); return false;
            }
            else if (twoSelectedwithoutDate) {
                $.growl.error({ message: 'Please enter the date (When will the customer pay?)' }); return false;
            }
            else if (sixSelectedwithoutDate) {
                $.growl.error({ message: 'Please enter the date (When was order paid?)' }); return false;
            }
            else if (sixSelectedwithoutAmount) {
                $.growl.error({ message: 'Please enter the amount paid by the customer, for this order on specified date' }); return false;
            }
            else if (sixSelectedwithoutComment) {
                $.growl.error({ message: 'Please enter some comments for reference' }); return false;
            }
            $('#submitType').val(obj);
            if ($('#rdo_1').is(':checked')) $('#optradioTODO').val(1);
            if ($('#rdo_2').is(':checked')) $('#optradioTODO').val(2);
            if ($('#rdo_3').is(':checked')) $('#optradioTODO').val(3);
            if ($('#rdo_4').is(':checked')) $('#optradioTODO').val(4);
            if ($('#rdo_5').is(':checked')) $('#optradioTODO').val(5);
            if ($('#rdo_6').is(':checked')) $('#optradioTODO').val(6);
            if ($('#rdo_7').is(':checked')) $('#optradioTODO').val(7);
            if ($('#rdo_8').is(':checked')) $('#optradioTODO').val(8);
            if ($('#rdo_9').is(':checked')) $('#optradioTODO').val(9);

            if ($('#rdo_11').is(':checked')) $('#optradioTODO').val(11);
            if ($('#rdo_12').is(':checked')) $('#optradioTODO').val(12);
            if ($('#rdo_13').is(':checked')) $('#optradioTODO').val(13);
            if ($('#rdo_14').is(':checked')) $('#optradioTODO').val(14);
            $(function () {
                $("#frmUpdateLog").on("submit", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/Home/UpdateCallingLog",
                        type: "post",
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.MsgCode == 1) {
                                if(data.optSearchOrder == '1')
                                {
                                    location.href="/Home/Welcome";
                                }
                                else
                                {
                                    $('input:radio').attr('checked', false);
                                    if (obj == 1) {
                                        $.growl.notice({ message: 'Calling Log Updated.' });
                                        location.reload();
                                    } else {
                                        $.growl.notice({ message: 'Calling Log Updated.' });
                                        location.href="/Home/Welcome";
                                    }
                                }
                            }

                            else {
                                $.growl.error({ message: data.Message });
                            }
                        }
                    });
                });
            });
        }

        function ValidateOrder(obj)
        {
            var isphonevalidate = false;
            if($("#pnlPhone").val() == "" || $("#pnlPhone").val() == null)
            {
                isphonevalidate = true;
            }
            else {
                var phone = $("#pnlPhone").val().trim();//$('input[name="phone"]').val(),
                if(!/^0\d{9}$/.test(phone))
                {
                    isphonevalidate = true;
                }
            }
            if(isphonevalidate)
            {
                $.growl.error({ message: 'Please enter a valid phone number.' }); return false;
            }
            $(function () {
                $("#frmupdatedeliverydata").on("submit", function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: "/Home/UpdateOrderInfo",
                        type: "post",
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.MsgCode == 1) {
                                $.growl.notice({ message: data.Message })
                            }
                            else {
                                $.growl.error({ message: 'An error occurred, Please try again.' });
                            }
                        }
                    });
                });
            });


        }

        function LoadProvinceAPI()
        {
            var provinceModel = {
                id: $("#hdnOrderId").val(),
                postcode: $(".ddlPostcode").val()
            };
            $.ajax({
                url: '/Home/LoadProvinceAPI',
                type: 'Post',
                contentType: 'application/json',
                data: JSON.stringify(provinceModel),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {

                },
            });

        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#rdo_6').change(function(){
                $('#textareas').show();
            });
        });
        $(document).ready(function () {
            $('#rdo_6').change(function(){
                $('#textareas').show();
            });
        });

    </script>
}
else
{
    if (nCallType == 2)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var ToEndDate = new Date();
                var ToStartDate = new Date();
                ToStartDate.setDate(ToStartDate.getDate() + 1);
                ToEndDate.setDate(ToEndDate.getDate()+4);
                $('.date').datepicker({
                    format: "dd/mm/yyyy",
                    startDate: ToStartDate,
                    endDate: ToEndDate  });
                GetOrderCount();//get order count

            });
            $('#rdo_5').change(function(){
                $('#textareas').show();
            });

            function GetOrderCount()
            {
                var accountid = '@ViewBag.accountid';
                $.ajax({
                    url: "/Home/GetTotalOrderCount",
                    type: "post",
                    dataType: 'json',
                    data: 'accountid='+accountid,
                    success: function (data) {
                        if (data.MsgCode == 1) {
                            $("#all_oders_total").text(data.OrdersTotal);
                            $("#all_oders_cancelled").text(data.OrdersTotalCancelled);
                            $("#all_oders_paid").text(data.OrdersTotalPaid);
                            $("#all_oders_unpaid").text(data.OrdersTotalUnPaid);
                        }
                        else {
                            $.growl.error({ message: 'An error occurred, Please try again.' });
                        }
                    }
                });
            }
            function setDateBox(obj) {
                if(obj == '9')
                {
                    $('#lblamountPaid').show();
                    $('#lblcomments').show();
                    $('#txtcomments').show();
                }
                else if(obj == '5')
                {
                    $('#lblamountPaid').hide();
                    $('#lblcomments').show();
                    $('#txtcomments').show();
                }
                else {
                    $('#lblamountPaid').hide();
                    $('#lblcomments').hide();
                    $('#txtcomments').hide();
                }
                if (obj == '9') {


                    $('#dtDate').removeAttr('disabled');
                    $('#dtDate').attr("placeholder", "Desired delivery date?:").placeholder();
                    $('input[placeholder]').placeholder();
                    $('#lblText').removeClass('label-danger').removeClass('label-warning');
                    $('#lblText').addClass('label-warning');
                } else {

                    $('#dtDate').attr('disabled', 'disabled');
                    $('#lblText').removeClass('label-danger').removeClass('label-warning');
                    $('#lblText').addClass('label-default');
                }
            }
            function Validate(obj) {
                var nonSelected = false;
                var nineSelectedwithoutDate = false;
                $("input:radio").each(function () {
                    var name = $(this).attr("name");
                    if ($("input:radio[name=" + name + "]:checked").length == 0) {
                        nonSelected = true;
                    }
                    else {
                        if ($('#rdo_9').is(':checked')) {
                            if ($('#dtDate').val() == "" || $('#dtDate').val() == null) {
                                nineSelectedwithoutDate = true;
                            }

                        }
                    }
                });
                if (nonSelected) {
                    $.growl.error({ message: 'Please select an option to proceed.' }); return false;
                }
                else if (nineSelectedwithoutDate) {
                    $.growl.error({ message: 'Please enter the date (Desired delivery date?)' }); return false;
                }

                $('#submitType').val(obj);
                if ($('#rdo_1').is(':checked')) $('#optradioTODO').val(1);
                if ($('#rdo_2').is(':checked')) $('#optradioTODO').val(2);
                if ($('#rdo_3').is(':checked')) $('#optradioTODO').val(3);
                if ($('#rdo_4').is(':checked')) $('#optradioTODO').val(4);
                if ($('#rdo_5').is(':checked')) $('#optradioTODO').val(5);
                if ($('#rdo_6').is(':checked')) $('#optradioTODO').val(6);
                if ($('#rdo_7').is(':checked')) $('#optradioTODO').val(7);
                if ($('#rdo_8').is(':checked')) $('#optradioTODO').val(8);
                if ($('#rdo_9').is(':checked')) $('#optradioTODO').val(9);

                if ($('#rdo_11').is(':checked')) $('#optradioTODO').val(11);
                if ($('#rdo_12').is(':checked')) $('#optradioTODO').val(12);
                if ($('#rdo_13').is(':checked')) $('#optradioTODO').val(13);
                if ($('#rdo_14').is(':checked')) $('#optradioTODO').val(14);

                $(function () {
                    $("#frmUpdateLog").on("submit", function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: "/Home/UpdateCallingLog",
                            type: "post",
                            dataType: 'json',
                            data: $(this).serialize(),
                            success: function (data) {
                                if (data.MsgCode == 1) {
                                    $('input:radio').attr('checked', false);
                                    if (obj == 1) {
                                        $.growl.notice({ message: 'COD Undelivered Calling Log Updated.' });
                                        location.reload();
                                    } else {
                                        $.growl.notice({ message: 'COD Undelivered Calling Log Updated.' });
                                        location.href="/Home/Welcome";
                                    }
                                }
                                else {
                                    $.growl.error({ message: 'An error occurred, Please try again.' });
                                }
                            }
                        });
                    });
                });
            }
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('#rdo_9').change(function(){
                    $('#textareas').show();
                });
                $('#rdo_9').change(function(){
                    $('#textareas').show();
                });
            });


        </script>
    }
}



