﻿@using CallingChilindo.Models;

@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Terms Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<style>
    div, td, span, p {
        text-align:left
    }
</style>
@*<div class="content-section" id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-section col-md-12 text-center">
                    <h2>@Html.Raw(@db.Pages.Single(s => s.nId == 3).sHeading)</h2>
                    @Html.Raw(@db.Pages.Single(s => s.nId == 3).sContent)
                </div>
            </div> <!-- /.row -->
            <!-- /.row -->
        </div> <!-- /.container -->
    </div>
</div>*@
<div class="content-section" id="our-team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-section col-md-12 text-center">
                    <h2>Terms and Conditions</h2>
                    <div id="maincontent">
                        <p>
                            <b>PLEASE READ THE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</b> We maintain this web site as a service to our
                            customers, and by using our site you are agreeing to comply with and be bound by the following terms of use. Please review the following
                            terms and conditions carefully, and check them periodically for changes. If you do not agree to the terms and conditions, you should not
                            review information or obtain goods, services or products from this site.
                        </p>

                        <p><b>PLEASE NOTE: YOU MUST BE 18 YEARS OLD OR OLDER AND A U.S. RESIDENT IN ORDER TO PARTICIPATE ON OUR SITE.</b></p>

                        <ol>
                            <li>
                                <b>Acceptance of Agreement.</b> You agree to the terms and conditions outlined in this Terms and Conditions of use Agreement
                                ("Agreement") with respect to our site (the "Site"). This Agreement constitutes the entire and only agreement between us and you, and
                                supersedes all prior or contemporaneous agreements, representations, warranties and understandings with respect to the Site, the
                                content, products or services provided by or through the Site, and the subject matter of this Agreement. This Agreement may be amended
                                by us at any time and from time to time without specific notice to you. The latest Agreement will be posted on the Site, and you should
                                review this Agreement prior to using the Site.
                            </li>
                            <li>
                                <b>Copyright.</b> The content, organization, graphics, design, compilation, magnetic translation, digital conversion and other matters
                                related to the Site are protected under applicable copyrights, trademarks, registered trademarks and other proprietary (including but
                                not limited to intellectual property) rights. The copying, redistribution, use or publication by you of any such matters or any part of
                                the Site, except as allowed by Section 4, is strictly prohibited. You do not acquire ownership rights to any content, document or other
                                materials viewed through the Site. The posting of information or materials on the Site does not constitute a waiver of any right in such
                                information and materials.
                            </li>
                            <li>
                                <b>Fraud:</b> By becoming a participant, you confirm that the information provided in this form is true and that you agree to abide by
                                the Terms and Conditions of use of this site. Please note that your participation in this program can be terminated without notice if
                                it is determined that false or misleading information has been provided, the Terms and Conditions of use have been violated, or other
                                abuses have occurred as determined by StartSampling in its sole discretion. If participation has been terminated, the company reserves
                                the right to refuse application or readmission to the program.
                            </li>
                            <li>
                                <b>Limited Right to Use.</b> The viewing, printing or downloading of any content, graphic, form or document from the Site grants you
                                only a limited, nonexclusive license for use solely by you for your own personal use and not for republication, distribution,
                                assignment, sublicense, sale, preparation of derivative works or other use. No part of any content, form or document may be reproduced
                                in any form or incorporated into any information retrieval system, electronic or mechanical, other than for your personal use (but not
                                for resale or redistribution).
                            </li>
                            <li>
                                <b>Editing, Deleting and Modification.</b> We reserve the right in our sole discretion to edit or delete any documents, information or
                                other content appearing on the Site, including this Agreement, without further notice to users of the Site.
                            </li>
                            <li>
                                <b>Indemnification.</b> You agree to indemnify, defend and hold us and our partners, attorneys, staff and affiliates (collectively,
                                "Affiliated Parties") harmless from any liability, loss, claim and expense, including reasonable attorney's fees, related to your
                                violation of this Agreement or use of the Site.
                            </li>
                            <li>
                                <b>Nontransferable.</b> Your right to use the Site is not transferable. Any password or right given to you to obtain information or
                                documents is not transferable and may only be used by you.
                            </li>
                            <li>
                                <b>Disclaimer.</b> THE INFORMATION FROM OR THROUGH THE SITE ARE PROVIDED "AS-IS," "AS AVAILABLE," AND ALL WARRANTIES, EXPRESS OR
                                IMPLIED, ARE DISCLAIMED (INCLUDING BUT NOT LIMITED TO THE DISCLAIMER OF ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
                                PARTICULAR PURPOSE). THE INFORMATION AND SERVICES MAY CONTAIN BUGS, ERRORS, PROBLEMS OR OTHER LIMITATIONS. WE AND OUR AFFILIATED
                                PARTIES HAVE NO LIABILITY WHATSOEVER FOR YOUR USE OF ANY INFORMATION OR SERVICE. IN PARTICULAR, BUT NOT AS A LIMITATION, WE AND OUR
                                AFFILIATED PARTIES ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF
                                BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING
                                NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE NEGATION OF DAMAGES SET FORTH
                                ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN US. THIS SITE AND THE INFORMATION WOULD NOT BE PROVIDED WITHOUT
                                SUCH LIMITATIONS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US THROUGH THE SITE SHALL CREATE ANY
                                WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.
                            </li>
                            <li>
                                <b>Limits.</b> All responsibility or liability for any damages caused by viruses contained within the electronic file containing the
                                form or document is disclaimed. WE WILL NOT BE LIABLE TO YOU FOR ANY INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OF ANY KIND THAT MAY
                                RESULT FROM USE OF OR INABILITY TO USE OUR SITE. Our maximum liability to you under all circumstances will be equal to the purchase
                                price you pay for any goods, services or information.
                            </li>
                            <li>
                                <b>Use of Information.</b> We reserve the right, and you authorize us, to the use and assignment of all information regarding Site uses
                                by you and all information provided by you in any manner consistent with our Privacy Policy.
                            </li>
                            <li>
                                <b>Third-Party Services.</b> We allow access to or advertise third-party merchant sites ("Merchants") from which you may purchase or
                                otherwise obtain certain goods or services. You understand that we do not operate or control the products or services offered by
                                Merchants. Merchants are responsible for all aspects of order processing, fulfillment, billing and customer service. We are not a
                                party to the transactions entered into between you and Merchants. YOU AGREE THAT USE OF SUCH MERCHANTS IS AT YOUR SOLE RISK AND IS
                                WITHOUT WARRANTIES OF ANY KIND BY US, EXPRESSED, IMPLIED OR OTHERWISE INCLUDING WARRANTIES OF TITLE, FITNESS FOR PURPOSE,
                                MERCHANTABILITY OR NON-INFRINGEMENT UNDER NO CIRCUMSTANCES ARE WE LIABLE FOR ANY DAMAGES ARISING FROM THE TRANSACTIONS BETWEEN YOU AND
                                MERCHANTS OR FOR ANY INFORMATION APPEARING ON MERCHANT SITES OR ANY OTHER SITE LINKED TO OUR SITE.
                            </li>
                            <li>
                                <b>Third-Party Merchant Policies.</b> All rules, policies (including privacy policies) and operating procedures of Merchants will apply
                                to you while on such sites. We are not responsible for information provided by you to Merchants. We and the Merchants are independent
                                contractors and neither party has authority to make any representations or commitments on behalf of the other.
                            </li>
                            <li>
                                <b>Privacy Policy.</b> Our <a href="../Home/Privacy" target="_blank">Privacy Policy</a>, as it may change from time to time, is a part
                                of this Agreement.
                            </li>
                            <li>
                                <b>Payments.</b> You represent and warrant that if you are purchasing something from us or from our Merchants that (i) any credit card
                                information you supply is true, correct and complete, (i) charges incurred by you will be honored by your credit card company, and
                                (iii) you will pay the charges incurred by you at the posted prices, including any applicable taxes.
                            </li>
                            <li>
                                <b>Securities Laws.</b> This Site may include statements concerning our operations, prospects, strategies, financial condition, future
                                economic performance and demand for our products or services, as well as our intentions, plans and objectives that are forward-looking
                                statements. These statements are based upon a number of assumptions and estimates which are subject to significant uncertainties, many
                                of which are beyond our control. When used on our Site, words like "anticipates," "expects," "believes," "estimates," "seeks," "plans,"
                                "intends" and similar expressions are intended to identify forward-looking statements designed to fall within securities law safe
                                harbors for forward-looking statements. The Site and the information contained herein do not constitute an offer or a solicitation of
                                an offer for sale of any securities. None of the information contained herein is intended to be, and shall not be deemed to be,
                                incorporated into any of our securities-related filings or documents.
                            </li>
                            <li>
                                <b>Links to Other Web Sites.</b> The Site contains links to other Web sites. We are not responsible for the content, accuracy or
                                opinions express in such Web sites, and such Web sites are not investigated, monitored or checked for accuracy or completeness by us.
                                Inclusion of any linked Web site on our Site does not imply approval or endorsement of the linked Web site by us. If you decide to
                                leave our Site and access these third-party sites, you do so at your own risk.
                            </li>
                            <li>
                                <b>Submissions.</b> All suggestions, ideas, notes, concepts and other information you may from time to time send to us (collectively,
                                "Submissions") shall be deemed and shall remain our sole property and shall not be subject to any obligation of confidence on our part.
                                Without limiting the foregoing, we shall be deemed to own all known and hereafter existing rights of every kind and nature regarding
                                the Submissions and shall be entitled to unrestricted use of the Submissions for any purpose, without compensation to the provider of
                                the Submissions.
                            </li>
                            <li>
                                <b>Return Policy.</b> If a sample received by you proves to be defective or not to your reasonable satisfaction, please contact us
                                within 90 days of the original order with the name of the sample and the issue(s) relating to the sample and we will promptly send out
                                a new sample with our apologies.
                            </li>
                            <li>
                                <b>Venue; Applicable Law.</b> YOU AGREE THAT ALL ACTIONS OR PROCEEDINGS ARISING DIRECTLY OR INDIRECTLY OUT OF THIS AGREEMENT, OR YOUR
                                USE OF THE SITE OR ANY SAMPLES OR PRODUCTS OBTAINED BY YOU THROUGH SUCH USE, SHALL BE LITIGATED IN THE CIRCUIT COURT OF COOK COUNTY,
                                ILLINOIS, OR THE UNITED STATES DISTRICT COURT FOR THE NORTHERN DISTRICT OF ILLINOIS. YOU ARE EXPRESSLY SUBMITTING AND CONSENTING IN
                                ADVANCE TO SUCH JURISDICTION IN ANY ACTION OR PROCEEDING IN ANY OF SUCH COURTS, AND ARE WAIVING ANY CLAIM THAT CHICAGO, ILLINOIS OR THE
                                NORTHERN DISTRICT OF ILLINOIS IS AN INCONVENIENT FORUM OR AN IMPROPER FORUM BASED ON LACK OF VENUE. This site is created and controlled
                                by StartSampling, Inc. in the State of Illinois, USA. As such, the laws of Illinois will govern the terms and conditions contained in
                                this Agreement and elsewhere throughout the Site, without giving effect to any principles of conflicts of laws.
                            </li>
                            <li>
                                <b>Verify Address:</b> StartSampling reserves the right to contact participants via email to verify the accuracy of account
                                information (including the participant's correct name and address) that is needed to provide the participant with the samples or other
                                information he or she requested from StartSampling.
                            </li>
                        </ol>


                    </div>
                </div>
            </div> <!-- /.row -->
            <!-- /.row -->
        </div> <!-- /.container -->
    </div>
</div>